{% extends 'base.html.twig' %}

{% block nav_menu %}
	<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" href="#" style="padding:5px">
     Tienda Salcaja
  </a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbar">
    <div class="navbar-nav">
    </div>
    <div class="navbar-nav">
      <a href="{{path('principal')}}" class="nav-item nav-link">
        Empresas
      </a>
      
    </div>
    
    
</nav>    
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<br><br><br>
		<div class="row">

			<div class="container-fluid">
				<h2 class="alert alert-info">Registrar usuario</h2>
			</div>

			<div class="col-md-6">
				<form>
					<label for="usuario">Usuario</label>
				      <input type="email" id="usuario" class="form-control" required="true">

				      <label for="password">Contrasena</label>
				      <input type="password" id="password" class="form-control">

				      <label for="confirmar_pass">Confirmar Contraseña</label>
				      <input type="password" id="confirmar_pass" class="form-control">

				      <label for="nombre">Nombres</label>
				      <input type="text" id="nombre" class="form-control">

				      <label for="apellido">Apellido</label>
				      <input type="text" id="apellido" class="form-control">

				      <label for="direccion">Direccion</label>
				      <input type="text" id="direccion" class="form-control">

				      <label for="nit">Nit</label>
				      <input type="text" id="nit" class="form-control">

				      <label for="telefono">Telefono</label>
				      <input type="text" id="telefono" class="form-control">

				      <button class="btn btn-success btn-lg" type="submit">
				        <i class="fa fa-save fa-1x"></i> Guardar Usuario
				      </button>
				</form>
		      
			</div>
		</div>
	</div>    
{% endblock %}

{% block script_extra %}

	<script type="text/javascript">
		function enviar_cliente(){

		}
	</script>
    
{% endblock %}