{% extends 'basecliente.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}

<div class="container" style="margin-top: 80px; margin-bottom: 30px;">

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Registro Cliente</h5>
    <form class="form-control" id="form_registro">
			<div class="form-group">
				<label for="email" class="bmd-label-floating">Email</label>
				<input type="email" class="form-control" id="email">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1" class="bmd-label-floating">Contraseña</label>
				<input type="password" class="form-control" id="exampleInputPassword1">
			</div>
			<div class="form-group">
				<label for="nombres" class="bmd-label-floating">Nombres</label>
				<input type="text" class="form-control" id="nombres">
			</div>
			<div class="form-group">
				<label for="apellidos" class="bmd-label-floating">Apellidos</label>
				<input type="text" class="form-control" id="apellidos">
			</div>
			<div class="form-group">
				<label for="direccion" class="bmd-label-floating">Direccion</label>
				<input type="text" class="form-control" id="direccion">
			</div>
			<div class="form-group">
				<label for="nit" class="bmd-label-floating">Nit (Opcional)</label>
				<input type="text" class="form-control" id="nit">
			</div>
			<div class="form-group">
				<label for="telefono" class="bmd-label-floating">Telefono</label>
				<input type="text" class="form-control" id="telefono">
			</div>

		</form>
		<a class="btn btn-raised btn-secondary" href="{{path('principal')}}">Cancel</a>
		<button type="button" class="btn btn-success btn-raised" onclick="enviar_datos()">Completar Registro</button>
  </div>
</div>



</div>

{% endblock %}

{% block script_extra %}

<script type="text/javascript">

function enviar_datos(){
	var txt_email=$("#email").val();
	var txt_pass=$("#password").val();
	var txt_nombres=$("#nombres").val();
	var txt_apellidos=$("#apellidos").val();
	var txt_direccion=$("#direccion").val();
	var txt_nit=$("#nit").val();
	var txt_telefono=$("#telefono").val();

	if((txt_email=="") || (txt_pass=="") || (txt_nombres=="") || (txt_apellidos=="") || (txt_nit=="") || (txt_telefono=="") || (txt_direccion=="") ){
		alert("Complete los datos");
	}else{
		$.ajax({
            type:"POST",
            url:"{{path("guardarCliente")}}",
            data:{
							email:$("#email").val(),
							pass:$("#password").val(),
							nombres:$("#nombres").val(),
							apellidos:$("#apellidos").val(),
							direccion:$("#apellidos").val(),
							nit:$("#nit").val(),
							telefono:$("#telefono").val()
						},
            success: function () {
              
            },
            error: function(){

            }

        });
	}
	
}		
</script>
    
{% endblock %}