{% extends 'base.html.twig' %}

{% block body %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="#">Inventario</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
  <div class="navbar-nav">
      <a href="#" class="nav-item nav-link">
        <i class="fa fa-user"></i> {{colaborador.Nombre}} ({{colaborador.Puesto}})
      </a>
      <a class="nav-item nav-link" href="{{path('logout')}}">
        <i class="fas fa-sign-out-alt"></i> Cerrar Sesion
      </a>
    </div>
</nav>    
{% endblock %}
