{% extends 'basecliente.html.twig' %}

{% block body %}

	<div class="container-fluid nav-padding" id="content-page">
		<!--contenido  de la pagina -->

	</div>
    
{% endblock %}

{% block script_extra %}
	<script type="text/javascript">
		$( document ).ready(function() {
    		$("#content-page").load("{{path('catalogoGeneral')}}");
		});
	</script>
    
{% endblock %}