{% extends 'basecliente.html.twig' %}

{% block script_encabezado %}
<link href="{{asset('public/css/round-about.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
  <div class="container-fluid" id="content-page">

  </div>

{% endblock %}
{% block script_extra %}
  <script type="text/javascript">
    $( document ).ready(function() {
        $("#content-page").load("{{path('listaEmpresas')}}");
    });

    function elegirEmpresa(id){
      $.ajax({
            type:'POST',
            url:"{{path('catalogoGeneral')}}",
            data:{id:id},
            success: function (html) {
              $("#content-page").html(html);
            },
            error: function(){

              }

        });
    }

    function carritover(idemp){
      $.ajax({
                type: "POST",
                url: "{{path('carroVista')}}",
                data:{ 
                  id:idemp
                },
                success: function (html) {
                  $("#content-page").html(html); 
                }
            });

    }

    
  </script>
    
{% endblock %}
