<!-- Page Content -->
    <div class="container-fluid">
      <!-- Introduction Row -->
      <h2 class="my-4 alert alert-info">Empresa artesanales Salcaja <br>
        <small>Bienvenido a las tiendas online!</small>
      </h2>
      
      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">Empresas</h2>
        </div>
        {% for empresa in empresas %}
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{asset('public/img/enterprise.png')}}" alt="">
          <h3>{{empresa.Nombre}}</h3>
          <p>{{empresa.Descripcion}}</p>
          <button class="btn btn-raised btn-info" onclick="elegirEmpresa({{empresa.Idempresa}})">
            <i class="fa fa-arrow-right"></i> Ingresar
          </button>
        </div>  
        {% endfor %}
        
      </div>

    </div>
    <!-- /.container -->

    