.form_bg {
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 350px;
}

.align-center {
    text-align: center;
}