<div class="row">
  <div class="container-fluid">

    <h1 class="alert alert-info">Nuevo colaborador</h1>
    
    <div class="col-md-6">
      <label for="usuario">Usuario</label>
      <input type="email" id="usuario" class="form-control">

      <label for="password">Contrasena</label>
      <input type="password" id="password" class="form-control">

      <label for="nombre">Nombres</label>
      <input type="text" id="nombre" class="form-control">

      <label for="puesto">Puesto</label>
      <select class="form-control" id="puesto">
        <option value="Gerente">Gerente</option>
        <option value="Recepcion">Recepcion</option>
        <option value="Bodega">Bodega</option>
        <option value="Produccion">Produccion</option>
      </select><br>

      <button class="btn btn-raised btn-success btn-lg" onclick="enviar_colaborador()">
        <i class="fa fa-save fa-1x"></i> Guardar Usuario
      </button>
      <button class="btn btn-raised btn-danger btn-lg" onclick="volver_usuarios()">
        <i class="fas fa-ban fa-1x"></i> Cancelar
      </button>
    </div>
    

  </div>
</div>
<script type="text/javascript">

  function enviar_colaborador(){
    $.ajax({
      type: "POST",
      url: "{{path("guardarusuarioEmpresa")}}",
      data: {
        usuario: $("#usuario").val(),
        pass: $("#password").val(),
        nombre: $("#nombre").val(),
        puesto: $("#puesto").val()
      },
      success: function (html) {
        if (html=="hecho") {
          $("#page-content-wrapper").load("{{path('usuariosEmpresa')}}");  
        }else{
          alert("Debe llenar los campos");
        }
      }

    });
  }

    
  function volver_usuarios(){
    $("#page-content-wrapper").load("{{path('usuariosEmpresa')}}");
  }

</script>
